
#canvas {
    background-color: ghostwhite;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    cursor: crosshair;
}

#toolsPaint {
    width: 840px;
    background-color: lightsteelblue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Bahnschrift';
}

#rectangle, #ellipse, #line, #saveRaster {
    /*margini pentru cele 4 butoane*/
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    /*fontul,dimensiunea cu care este scris textul de pe butoane (+italic)*/
    font-family: 'Bahnschrift';
    font-size: 15px;
    font-style: italic;
    background-color: powderblue;
    text-align: center;
    display: inline;
    /*rotunjirea butoanelor*/
    border-radius: 6px;
}

#progressBar {
    margin-top: 5px;
}

#pbLabel {
    margin-top: 5px;
    vertical-align: middle;
}

 /*cand section var selecta unul dintre cele 3 butoane pentru forme acesta var avea input plus conturul */
.selected {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'Bahnschrift';
    font-size: 15px;
    font-style: italic;
    background-color:powderblue;
    border-color: #C3447A;
    border-width: 4px;
    text-align: center;
    display: inline;
    border-radius: 6px;
}

h2 {
    padding: 10px;
    background-color: powderblue;
    width: 840px;
    font-family: 'Bahnschrift';
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

ul {
    font-family: 'Bahnschrift';
    font-size: 18px;
    border: 1px solid black;
    width: 820px;
    background-color: powderblue;
}

#progressBar {
    background-color: whitesmoke;
    border: 2px solid darkmagenta;
}
